<footer>
  <div class="vertical">
    <div class="container">
      <h3>{{.Site.Title }}</h3>
      <ul class="social-items">
        <li>
          <a href="{{ .Site.Params.facebook }}">Facebook</a>
        </li>
        <li>
          <a href="{{ .Site.Params.instagram }}">Instagram</a>
        </li>
        <li>
          <a href="{{ .Site.Params.pinterest }}">Pinterest</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <img src="/images/blessyourheart-footer.svg" class="footer-logo">
      <address><a href="https://goo.gl/maps/1vtJroqVcC72">Bless Your Heart | 20 Main St, Eclectic, AL 36024</a> | <a href="tel:3345310960‬">334-531-0960‬</a></address>
    </div>
  </div>
</footer>