<section class="block-map">
  <div class="block-map-content">
    <div class="vertical">
      <div class="container">
        <div class="block-map-content-item">
          <h3>Our Hours</h3>
          <hr>
          <p><b>Mon - Fri</b><br>
          10:00 AM - 6:00 PM<br>
          <b>Saturday</b><br>
          10:00 AM - 4:00 PM <br>
          <i>Closed On Sunday</i></p>
        </div>
        <div class="block-map-content-item">       
          <h3>Our Address</h3>
          <hr>
          <p>20 Main St <br>
          Eclectic, AL 36024 <br>
          <a href="tel:‭+13345310960‬">‭334-531-0960‬</a>
          </p>
          <a href="https://goo.gl/maps/1vtJroqVcC72" class="fancy-button bg2"><span>Directions</span></a>
        </div>
      </div>
    </div>
  </div>
  <div class="block-map-image" alt="{{ .Title }}" style="background-image:url(images/map.jpg);"></div>
</section>
