<section class="block-feature" alt="{{ .Title }}" style="background-image:linear-gradient(rgba(33,110,142,.9), rgba(33,110,142,.9)), url(images/blessyourheartexterior.jpg);">
    <div class="vertical">
      <div class="block-feature-content">
        <div class="block-text">
          <div class="container">
              <h2 class="block-title">Visit Our Store</h2>
              <p>Monday - Saturday <br>
              9:00 AM - 6:00 PM <br>
              Sunday | Closed</p>
              <a href="https://goo.gl/maps/1vtJroqVcC72" class="fancy-button bg2"><span>Directions</span></a>
          </div>
        </div>
      </div>
    </div>
</section>