{{ define "main" }}
<section class="home-banner" style="background-image:linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8)), url({{ .Params.image }});">
  <div class="vertical">
    <div class="home-banner-content">
      <div class="container">
        <img src="/images/blessyourheart-banner-alt.svg" class="home-banner-logo" alt="Welcome to {{ .Title }}">
      </div>
      <div class="container">
        <a href="https://goo.gl/maps/1vtJroqVcC72" class="fancy-button bg2"><span>Visit Us</span></a>
        <a href="#contact" class="fancy-button bg1"><span>Contact Us</span></a>
      </div>
    </div>
  </div>
</section>
<h1 class="invisible">Bless Your Heart | Farmhouse and French Country Decor</h1>
{{ range  where .Data.Pages.ByWeight "Section" "home" }}
{{ .Render .Params.layout }}
{{ end }}
{{ block "instafeed" . }}{{ partial "site/instafeed.html" . }}{{ end }}
{{ block "map" . }}{{ partial "site/map.html" . }}{{ end }}
{{ block "contact" . }}{{ partial "site/contact.html" . }}{{ end }}
{{ end }}